.root {
  display: grid;
  grid-template-areas:
    'header header header header'
    '. aside main .';
  grid-template-columns: auto 180px min(700px, 100%) auto;
  gap: 0.5rem;
}

:global(main) {
  grid-area: main;
}

:global(aside) {
  grid-area: aside;
}

:global(header) {
  grid-area: header;
}
