.root {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.search-input {
  outline: none;
  line-height: 2;
  padding-inline: 0.5rem;
}

.user-card {
  position: relative;
}

.btns {
  position: absolute;
  inset: 0.5rem;
  left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  & > :global(*) {
    display: contents;
  }
}
