.root {
  position: sticky;
  top: calc(var(--header-height) + 0.5rem);
  height: fit-content;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  & a {
    padding-inline: 0.5rem;
    border-radius: 0.25rem;
    line-height: 1.5;
    &:global(.active) {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}
