.root {
  grid-column: 2 / -2;

  & :global(h1) {
    margin-top: 3rem;
    text-align: center;
  }
}

.form {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  max-width: 500px;
  margin-inline: auto;
}
.field {
  line-height: 2;
}
